
/* Animations */

.charge-animation-variable {
  animation: charge-animation-variable 3s linear infinite;
}

@keyframes charge-animation-variable {
  from {
    width: var(--from-width, 10%);
  }
  to {
    width: var(--to-width, 80%);
  }
}

 /* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

.visibility-on {
  visibility: visible !important;
}

.visibility-off {
  visibility: hidden !important;
}

/* Temperature sensor */

.temp-very-low {
  fill: #323cd2 !important;
  fill-opacity: 1 !important;
}

.temp-below-average {
  fill: #4650a0 !important;
  fill-opacity: 1 !important;
}

.temp-average {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
}

.temp-very-high {
  fill: #a83f3f !important;
  fill-opacity: 1 !important;
}

/* Battery state */

.battery-very-low {
  fill: #b20000 !important;
  fill-opacity: 1 !important;
}

.battery-low {
  fill: #ce9000 !important;
  fill-opacity: 1 !important;
}

.battery-ok {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
}

.battery-high {
  fill: #0000FF !important;
  fill-opacity: 1 !important;
}

/* Port open */

.port-open {
  fill: #b20000 !important;
  fill-opacity: 1 !important;
}

.port-closed {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
}

/* Stroke icon binary state */

.icon-stroke-red {
  stroke: #b20000 !important;
  stroke-opacity: 1 !important;
}

.icon-stroke-grey {
  stroke: #5a5a5a !important;
  stroke-opacity: 1 !important;
}

/* Fill icon binary state */

.icon-fill-red {
  fill: #b20000 !important;
  fill-opacity: 1 !important;
}

.icon-fill-grey {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
}


/* A/C */

.ac-heating {
  fill: #b20000 !important;
  fill-opacity: 1 !important;
}

.ac-cooling {
  fill: #0000FF !important;
  fill-opacity: 1 !important;
}

.ac-off {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
}

/* OpenEVSE charger */

.openevse-charge-medium-peak-on {
  fill: #1b9625 !important;
  fill-opacity: 1 !important;
}

.openevse-charge-medium-peak-off {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
  visibility: hidden !important;
}

.openevse-charge-peak-on {
  fill: #0f3efc !important;
  fill-opacity: 1 !important;
}

.openevse-charge-peak-off {
  fill: #5a5a5a !important;
  fill-opacity: 1 !important;
  visibility: hidden !important;
}
